[2016-09-08 00:44] gregw opened #3 "Use GAE_MEMORY_MB * 0.8 for JVM heap default"
The default `HEAP_SIZE` configuration in setup-env.bash should be set as follows:
If `GAE_MEMORY_MB` is present:
**heap_size = GAE_MEMORY_MB * 0.8**
Otherwise
**heap_size = (/proc/meminfo - 400MB) * 0.8**

[2016-09-08 19:11] aslo opened #4 "Test the Integration with Cloud Debugger"
The test could be something simple like
- deploy a sample app
- set a snapshot (aka a breakpoint) via the API or gcloud
- exercise the breakpoint
- verify that the breakpoint has been hit

[2016-09-08 19:15] aslo opened #5 "Test the Integration with Cloud Logging"
Tests should verify that the contract with App Engine flex is obeyed - logs sent by an application to stderr and stdout should be viewable in the cloud logging API, or via gcloud.

[2016-09-08 19:25] aslo opened #6 "Test memcached integration"
Verify that an application can read/write from memcached.

https://cloud.google.com/appengine/docs/flexible/java/caching-application-data

[2016-09-14 22:18] meltsufin opened #8 "Default docker image version label should contain a unique build id"

[2016-09-14 22:19] meltsufin opened #9 "Rename image from openjdk8 to openjdk"

[2016-09-14 23:11] joakime commented on #8
commit id hashes are not unique enough.
the same commit id will be in many branches and pull requests.

you can still have collisions in the docker image tags and deployed uris (for testing)

[2016-09-15 13:29] meltsufin commented on #8
@joakime What makes you say that the git commit hash is not unique enough? If you build by checking out a specific commit, wouldn't it always build from the exact same source?

[2016-09-15 23:06] gregw opened #11 "Create /var/log/app_engine"
The cloud debugger (`/opt/cdbg/format-env-appengine-vm.sh`) assumes that the directory /var/log/app_engine exists, so this needs to be created in the Dockerfile

[2016-09-15 23:09] gregw commented on #11
Note that the agent appears to have the option to log to stderr, but that the bundled script explicitly turns that off:
[code]

Ideally log files (that fill up the disk space) should be avoided, but until we can alter the upstream script (or are happy to deviate from the common setup), we need to create the directory.

[2016-09-16 23:38] #11 closed

[2016-09-19 14:58] meltsufin commented on #3
Resolved via #13

[2016-09-19 14:58] #3 closed

[2016-09-22 17:48] meltsufin opened #14 "Use Kubernetes Downward API to compute available memory on GKE"
`GAE_MEMORY_MB` is not available on GKE, but the Kubernetes Downward API may be used to compute it. See: http://kubernetes.io/docs/user-guide/downward-api/

Related issue: #3

[2016-09-26 14:14] meltsufin opened #16 "Determine image tagging scheme"

[2016-09-26 14:16] #8 closed

[2016-09-26 14:16] meltsufin commented on #9
Done in #15.

[2016-09-26 14:16] #9 closed

[2016-09-29 21:44] joakime opened #18 "Use specific version libssl to break out of cached docker layer"
The docker layer for the `apt-get install libssl` will continue to use the old libssl version, even if there was a new version released.

We should change the build (somehow) to always rebuild that layer.

[2016-09-29 22:37] gregw commented on #18
Can you explain this a bit more?   In the Dockerfile we have:
[code]
which is there to force the 1.0.2 version.   Are you saying that is a subsequent layer installs `libssl` then it will get a different version?

[2016-09-30 14:03] meltsufin commented on #18
Do you guys think this even belongs in the openjdk image? Should the base image for all runtimes install libssl?

[2016-10-17 17:24] meltsufin opened #19 "Turn on log file rotation for GC logs"
Something like:
-XX:+UseGCLogFileRotation -XX:NumberOfGCLogFiles=<number of files> -XX:GCLogFileSize=<size>

[2016-11-03 19:06] meltsufin opened #20 "Write Container Structure Tests"
https://github.com/GoogleCloudPlatform/runtimes-common/tree/master/structure_tests

[2016-11-15 20:21] meltsufin opened #21 "Build fails because openjdk-8-jre is not found"
[code]

More detailed:

[code]

[2016-11-15 20:46] joakime commented on #21
`openjdk-8-jre` is part of the unstable/sid suite in debian.

https://packages.debian.org/unstable/java/openjdk-8-jre

According to debian.org, there is no stable release of `openjdk-8-jre`

https://packages.debian.org/stable/java/openjdk-8-jre (will return an error)

stable/jessie only has `openjdk-7-jre` as its latest.

https://packages.debian.org/stable/java/openjdk-7-jre

[2016-11-15 20:50] joakime commented on #21
Move the install of `openjdk-8-jre` down to [the sid section](https://github.com/GoogleCloudPlatform/openjdk-runtime/blob/4cac10bb37651b40a2ca38f8d28edecda9dce2a8/openjdk8/src/main/docker/Dockerfile#L41-L43) in the Dockerfile and it should start to work.

[2016-11-15 21:05] joakime commented on #21
`openjdk-8-jre` is also listed in `jessie-backports` (currently at version `8u111`).

https://packages.debian.org/jessie-backports/openjdk-8-jre

Of note, there is also a `openjdk-8-jre-headless` which seems like a good fit for this image, and its available at version `8u102` as well.

https://packages.debian.org/jessie-backports/openjdk-8-jre-headless

[2016-11-15 21:07] meltsufin commented on #21
@joakime Do you also get an error when you run `mvn clean install` on this repo? I'm trying to see if this is due to my environment because this build used to work.

[2016-11-15 21:12] joakime commented on #21
Yes, the build fails for me with 8u102, but not with 8u111.

The 8u102 version is not present in the `Packages.gz` on the debian repos, so its not possible to install the 8u102 version anymore using the version qualifier found in commit 4cac10bb37651b40a2ca38f8d28edecda9dce2a8

If I use commit 056e113ca2174acaeb4db3f24a3131dad2006644 (the parent of the above commit) to build it works (this is the

[2016-11-15 21:28] meltsufin commented on #21
For me even 8u111 fails, but I think that is due to my environment.

[2016-11-15 21:41] #21 closed

[2016-11-15 21:46] joakime opened #23 "Consider using package openjdk-8-jre-headless instead"
The openjdk-8-jre-headless seems like a good fit for a docker image (which obviously has no framebuffer or UI).

[2016-11-15 21:51] meltsufin commented on #23
Yes, it sounds like a good fit, but I wonder if anyone might be doing something weird in their apps with the UI classes like image processing that will break. In any case, it's definitely worth considering. How much smaller is the package vs. the regular openjdk-8-jre?

[2016-11-16 15:23] meltsufin opened #24 "Do we still need the Debian CA Certificates workaround in Dockerfile?"
See: https://github.com/GoogleCloudPlatform/openjdk-runtime/blob/master/openjdk8/src/main/docker/Dockerfile#L35

[code]

[2016-11-16 15:24] meltsufin opened #25 "Do we still need the upgrade to OpenSSL 1.0.2 in the Dockerfile"
If this is still needed, maybe it belongs in the base image.

[code]

[2016-11-16 15:48] joakime commented on #25
History of the addition of the openssl 1.0.2 artifact can be found at ...

 * https://github.com/grpc/grpc-java/blob/master/SECURITY.md#tls-with-openssl
 * https://github.com/GoogleCloudPlatform/appengine-java-vm-runtime/issues/115
 * https://github.com/GoogleCloudPlatform/appengine-java-vm-runtime/issues/143

[2016-11-16 16:26] meltsufin commented on #25
@dlorenc This sounds like it would be beneficial to all runtimes. Do you think it should be pulled into the base image?

[2016-11-16 16:29] meltsufin commented on #25
Also, it looks like the `libssl1.0.2` line is redundant because the current version of OpenSSL is 1.1.0c and it comes with libssl1.1.

@lesv FYI

[2016-11-16 17:41] lesv commented on #25
You might wish to reach out to Eric J. or Louis R. of the gRPC teams about this.  (That's why it's there).

[2016-11-16 17:41] lesv commented on #25
For Java, we now use BoringSSL, (ie OpenSSL is no longer used)

[2016-11-16 17:46] meltsufin commented on #25
Thanks, Les. It sounds like it's no longer needed, but I would like to get a confirmation from the gRPC team. Do you have Eric's and Louis's github handles?

[2016-11-16 17:55] lesv commented on #25
They aren't project members so I couldn't use them.  I think both are close to their ldaps.

[2016-11-17 20:45] joakime commented on #24
Remove it, try it without that line.

If the file `/etc/ssl/certs/java/cacerts` doesn't exist, then we still have the bug and need that.

[2016-11-17 21:13] meltsufin commented on #24
Just tried and it's there. So, I guess we don't need this line anymore.

[2016-11-17 22:33] #23 closed

[2016-11-28 15:42] meltsufin commented on #25
Confirmed that this is no longer needed because BoringSSL is now bundled with the gRPC/client libs.

[2016-11-28 15:48] meltsufin commented on #20
One of the tests should be to verify the existence of `/etc/ssl/certs/java/cacerts`. See #24.

[2016-11-28 16:52] joakime commented on #25
What about those folks using older grpc releases on this openjdk-runtime image?

[2016-12-01 15:12] #24 closed

[2016-12-01 15:12] #25 closed

[2016-12-01 18:41] meltsufin opened #28 "Base image should be gcr.io/google_appengine/debian8"

[2016-12-01 18:55] #28 closed

[2016-12-02 23:58] gregw opened #30 "Remove logging module"
Once https://github.com/GoogleCloudPlatform/jetty-runtime/issues/68 is complete, there are no users of the JSON log formatter in the logging module, so it should be removed.

[2016-12-15 17:23] meltsufin opened #33 "What's the purpose of the reference to $JETTY_BASE in debugger setup?"
setup-env.bash has this block of code to set up the Stackdriver Debugger agent. The line that I'm confused about is `DBG_AGENT="$( RUNTIME_DIR=$JETTY_BASE /opt/cdbg/format-env-appengine-vm.sh )"`. Why are we referencing `$JETTY_BASE` here? It wouldn't be defined for a vanilla Java app.
[code]

[2016-12-20 21:10] aslo commented on #20
Closed by https://github.com/GoogleCloudPlatform/openjdk-runtime/pull/35

[2016-12-20 21:10] #20 closed

[2016-12-21 07:55] gregw commented on #33
the formate-env-appengine-vm.sh script contains the following:
[code]

So using `$JETTY_BASE` is there to help it find the additional classpath entries from the webapp.

This should probably be changed to either:
- leave `RUNTIME_DIR` undefined and only define it in `jetty-runtime` or equivalent runtime.
- define it in terms of a container neutral term that is then only defined in  `jetty-runtime`

[2016-12-21 15:16] meltsufin commented on #33
Looking at the [official docs for setting up the Debugger on GCE](https://cloud.google.com/debugger/docs/setting-up-on-compute-engine), the `format-env-appengine-vm.sh` is not even mentioned.

We need to find out if using this script is till the recommended approach for runtimes that are meant to be portable to GCE and GKE.

In any case, your suggestion to only define `RUNTIME_DIR` in the jetty im

[2017-01-03 16:46] meltsufin commented on #18
Obsolete. We're no longer installing libssl.

[2017-01-03 16:46] #18 closed

[2017-01-03 16:48] meltsufin opened #37 "Report memory usage and GC stats to Stackdriver Monitoring"

[2017-01-14 02:50] nickhristov opened #41 "Network is unreachable."
Hello.

Not sure if i should file the issue here or where, however, in my pet project I cannot seem to be able to make networking calls outside of the docker container once deployed to the GAE.

Here is the stack trace:

[code]

My Dockerfile is the following:

[code]

And my app.yaml is this:

[code]

[2017-01-14 15:31] nickhristov commented on #41
You can close this. Looks like it was an intermittent issue.

[2017-01-17 15:27] meltsufin commented on #41
Nick, thanks for the post and the update.
One thing I noticed in your config is that you're using the older runtime image.
Please try switching your base image in the Dockerfile to `gcr.io/google_appengine/openjdk`, which is developed in this repo.

[2017-01-17 15:27] #41 closed

[2017-01-18 06:30] tanin47 opened #43 "Add `env JAVA_OPTS="$JAVA_OPTS"` to `exec "$@"`"
At this line: https://github.com/GoogleCloudPlatform/openjdk-runtime/blob/master/openjdk8/src/main/docker/docker-entrypoint.bash#L21

Maybe we change it to `exec env JAVA_OPTS="$JAVA_OPTS" "$@" 2>&1`? (I'm not sure if `2>&1` is needed. Suggestion welcomed).

I was using Scala Playframework, and JAVA_OPTS wasn't set properly. I have to make my own docker-entrypoint.bash.

Making this change would a

[2017-01-18 15:07] meltsufin commented on #43
`JAVA_OPTS` is set in [setup-env.bash](https://github.com/GoogleCloudPlatform/openjdk-runtime/blob/master/openjdk8/src/main/docker/setup-env.bash#L29), which is only invoked in the `docker-entrypoint.bash` if the run command starts with `java` or some other argument that is not an executable. What does your docker run command look like?

[2017-01-19 01:53] tanin47 commented on #43
For playframework, we run the bash script generated by `sbt dist`. The script eventually runs `java` with a lot of arguments, and, fortunately, the script uses the JAVA_OPTS env.

Here's the script template: `https://github.com/sbt/sbt-native-packager/blob/master/src/main/resources/com/typesafe/sbt/packager/archetypes/scripts/bash-template#L297`

Here's my docker run command:

[code]

I make my ow

[2017-01-19 19:21] meltsufin commented on #43
If there is a way to start the app directly via the `java` executable, then you wouldn't need the custom CMD or the modified `docker-entrypoint.bash`. I would recommend looking into that option.

I'm not sure about modifying the actual runtime image the way you suggested to accommodate the Scala Playframework usecase. If the usecase was more generic, it would make more sense, but otherwise, extend

[2017-01-19 20:49] meltsufin commented on #43
@tanin47 On a second thought, if we simply added `export JAVA_OPTS` line before the `exec "$@"` in `docker-entrypoint.bash`, would it solve your issue?

[2017-01-19 20:52] tanin47 commented on #43
This would be helpful. I'll be able to get rid of my docker-entrypoint.bash completely. (One fewer file to maintain)

But I need to verify first whether `export` works as expected. There is some weird issue with `export` inside a bash script. I'll try and report back.

Thank you!

[2017-01-19 22:08] gregw commented on #43
@tanin47 The docker-entrypoint has been written as it is so that follows the docker standard practises that easily allow other args and/or commands to be run in the image.    I think that it is worth the effort to use the standard docker-entrypoint, potentially with modifications to fit your requirements.

[2017-01-20 01:45] tanin47 commented on #43
I confirm that adding `export JAVA_OPTS="$JAVA_OPTS"` in docker-entrypoint.bash works as well.

I also notice that `setup-env.bash` is only invoked if the first argument is not executable. Our first argument is executable. This would need to be fixed.

Is there a downside for running setup-env.bash every time? The users (who use this image) would expect JAVA_OPTS to be set properly regardless how

[2017-01-20 04:11] gregw commented on #43
I don't see any problem running setup-env.bash all of the time.   I also think the script should export all the variables it sets.   I'll prepare a PR...

[2017-01-20 05:25] tanin47 commented on #43
Thank you! This change is super helpful. Please let me know when the image is deployed. I'll test it promptly.

[2017-01-23 19:42] meltsufin opened #45 "Stop outputting GC log to standard out"
The GC log is printed to standard out by default.
By default it should be turned off or redirected to a separate file.

[2017-01-24 16:56] #43 closed

[2017-01-24 21:02] aslo opened #48 "Introduce static analysis tools to catch issues with code formatting"

[2017-01-27 20:19] tanin47 commented on #43
Is this deployed yet?

[2017-01-27 21:09] meltsufin commented on #43
Yes, and it will be made `:latest` soon.
For now, try using this image: `gcr.io/google-appengine/jetty:9.4-2017-01-26_21_46`

[2017-01-28 05:53] tanin47 commented on #43
Hmm.. I can't make the jetty image work. Do you have the openjdk version?

[2017-01-28 06:05] tanin47 commented on #43
I tested against `gcr.io/google-appengine/openjdk:8-2017-01-26_21_19`

It seems to work. I only need CMD command and can remove my own `docker-entrypoint.bash`. Thank you for making this change.

[2017-01-28 16:37] meltsufin commented on #43
My mistake, sorry. You found the right openjdk image.

[2017-01-28 19:33] tanin47 commented on #30
Could you elaborate on what logging module you'll remove? I am using JSON logging with openjdk-image right now. I just want to make sure I can continue to use it.

Currently, I'm writing JSON logs to `/var/log/app_engine/app-test.json`; it seems to work well. Thank you!

[2017-01-28 22:26] gregw commented on #30
@tanin47 we have removed the [com.google.cloud.runtimes.logging.JsonFormatter](https://github.com/GoogleCloudPlatform/openjdk-runtime/blob/8-2016-12-21_16_43/logging/src/main/java/com/google/cloud/runtimes/logging/JsonFormatter.java) class.    Are you using this class directly?

Note that it has already been removed and this issue should have been closed. Will leave open until we determine if you

[2017-01-28 22:39] tanin47 commented on #30
Ok, I've got it now. And, no, I am not using that class. I'm using `net.logstash.logback.encoder.LogstashEncoder`. We are good. Thank you.

[2017-01-29 06:46] #30 closed

[2017-01-30 15:09] meltsufin commented on #30
@tanin47 Can you share your logging configuration for the benefit of others who might want to use it?

[2017-01-31 04:11] tanin47 commented on #30
Definitely! Here's is `my logback.xml`:

[code]

Please note that rolling logs is essential.

And, in `build.sbt`, we include the below library:

[code]

And, in the code, we can write JSON logs with extra fields as shown below:

[code]

[2017-01-31 15:13] meltsufin commented on #30
@tanin47 This is great! Thanks for sharing!

[2017-02-10 15:50] meltsufin opened #55 "Verify that JRE 7 is not installed via ca-certificates-java"
We're installing [ca-certificates-java](https://packages.debian.org/jessie-backports/ca-certificates-java) as a requirement for the openjdk, but it seems to depend on JRE 7. We need to make sure that we're not polluting the image with JRE 7.

[2017-02-15 21:13] meltsufin commented on #45
Fixed in #50

[2017-02-15 21:13] #45 closed

[2017-02-22 21:02] dlorenc opened #59 "Document running this image on GKE"
We should document it like this: https://github.com/GoogleCloudPlatform/nodejs-docker#container-engine--other-docker-hosts

[2017-02-22 21:03] dlorenc opened #60 "Clearly document which stackdriver features are enabled in this image"
I see a setting to enable/disable the debugger, but is there anything else in this image for stackdriver integration?

[2017-02-28 19:44] patflynn opened #64 "cdbg_extra_class_path arguments are invalid for Jar based deployments"
The image passes:
`--cdbg_extra_class_path=/webapps/root/WEB-INF/classes:/webapps/root/WEB-INF/lib`

as a fragment of:
[code]

which causes the /var/log/app_engine/cdbg_java_agent.INFO to contain:

[code]

It's unclear what impact this has, as CDB appears broken for Java Flex for other reasons.

[2017-03-01 21:35] meltsufin commented on #4
@aslo Can this also be tested with Nick's Integration Testing framework?

[2017-03-01 21:42] aslo commented on #4
Not without some additional changes to the test framework in the runtimes_common repo. That code is what drives the test cases, so we'd need to add one to test the debugger,

[2017-03-01 21:58] meltsufin commented on #4
Created issue there: https://github.com/GoogleCloudPlatform/runtimes-common/issues/119

[2017-03-14 14:56] #59 closed

[2017-03-17 02:04] gregw opened #69 "Should stackdriver logging support be provided?"
It has been discussed as part of https://github.com/GoogleCloudPlatform/jetty-runtime/issues/68 (and it's associated PR https://github.com/GoogleCloudPlatform/jetty-runtime/pull/81) that container independent parts of the logging configuration should eventually be moved from the jetty-runtime to the openjdk-runtime.

This would potentially involve: google-cloud-java jars and their dependencies bei

[2017-03-20 16:56] meltsufin commented on #69
@gregw Agreed, but I think we need to document how to turn on the nice Stackdriver logging using JUL. So, this issue is more of a documentation issue.

[2017-03-21 15:36] meltsufin opened #70 "Cloud Build is broken because gcr.io/cloud-builders/maven is not longer available"
Use the one from DockerHub?

[2017-03-28 20:35] aslo opened #76 "Test stackdriver monitoring"
Implement the /monitoring endpoint of the test application and implement the monitoring part of the test spec. See https://github.com/GoogleCloudPlatform/runtimes-common/tree/master/integration_tests#monitoring

[2017-03-28 20:36] aslo commented on #5
This should be tested using the runtimes-common integration testing framework. See https://github.com/GoogleCloudPlatform/runtimes-common/tree/master/integration_tests#custom-logging

[2017-04-05 14:28] meltsufin opened #80 "jmap -heap <pid> command crashes"
Some googling indicates that the `openjdk-debuginfo` package might be missing.

[code]

[2017-04-07 15:06] meltsufin commented on #80
@joaoandremartins Can you look into this please? To reproduce:
1) deploy a Spring Boot app to flex
2) ssh into the instance
3) run "sudo docker exec -it gaeapp bash"
4) run "jmap -heap 1"

[2017-04-11 15:31] joaoandremartins commented on #80
The problem with #83 is that the image size grows by 130MB just for a single dependency.

Instead, I suggest that jstat is used to get heap data (with -gc, -gccapacity, etc.), which doesn't require any extra dependency.

[2017-04-11 15:41] meltsufin commented on #80
We can also turn on [native memory tracking](https://docs.oracle.com/javase/8/docs/technotes/guides/vm/nmt-8.html), which gives even more useful information about the JVM memory usage, such as off-heap memory.
I have tested this yet, however.

[2017-04-28 19:54] meltsufin commented on #64
I believe CDB was broken for other reasons and should be working now.
@joaoandremartins, can you verify that CDB is working.
Also, although this error should be harmless, the `--cdbg_extra_class_path parameter` is only needed for the jetty runtime. So we should probably move it to be only provided in jetty.

[2017-04-28 19:56] meltsufin commented on #19
Obsolete

[2017-04-28 19:56] #19 closed

[2017-05-02 16:20] joaoandremartins commented on #64
I verified that the Cloud Debugger still works for a JAR app deployed to App Engine Flexible, despite the logged exceptions at `/var/log/app_engine/app/cdbg_java_agent.INFO`.

The `--cdbg_extra_class_path` flag is being added from an external file:

`[DBG_AGENT="$( RUNTIME_DIR=$JETTY_BASE /opt/cdbg/format-env-appengine-vm.sh )"](https://github.com/GoogleCloudPlatform/openjdk-runtime/blob/master/op

[2017-05-02 20:05] joaoandremartins commented on #64
I filed internal issue #37908366 with the CDB team, so they add the suggested fix to format-env-appengine-vm.sh.

@aslo can you please take a look, since Mike is away this week?

[2017-05-03 14:19] aslo commented on #64
One concern with this solution - it doesn't account for other web server runtimes (including tomcat, which is coming soon). Also, it looks like the `$APP_WEB_INF_DIR` variable is set to a jetty-specific path.

Maybe it would be better to instead for the runtime to set `$APP_WEB_INF_DIR`. Then the cloud debug script could just do something like:

[code]

What do you think?

[2017-05-03 15:00] joaoandremartins commented on #64
I think you meant `if [ ! -z "${RUNTIME_DIR}" ]; then`, but yes, I agree your solution is more extensible.

[2017-05-03 15:19] aslo commented on #64
No, I'm saying the $APP_WEB_INF_DIR should be set by the runtime, since that's specific to the web server (it will be a different path in jetty vs tomcat). Then this script can just check for that variable's presence.

[2017-05-03 15:24] joaoandremartins commented on #64
`$APP_WEB_INF_DIR` is never empty because of the way its assigned its value.

`APP_WEB_INF_DIR="${RUNTIME_DIR}/webapps/root/WEB-INF"`

[2017-05-04 16:28] joaoandremartins commented on #64
The remote `/opt/cdbg/format-env-appengine-vm.sh` file now contains the suggested fix.

@aslo mentioned an even better fix, which is for each runtime to specify `$APP_WEB_INF_DIR`, instead of the openjdk image as it's currently happening. I think it's easier to piggyback this change when other runtimes are launched, but I can be convinced otherwise.

[2017-05-08 21:09] meltsufin commented on #64
We still have the problem of the configuration being jetty-specific.
[code]

@joaoandremartins Maybe change it to:
[code]
and then define `RUNTIME_DIR = $JETTY_BASE` in the Jetty runtime.

[2017-05-08 22:11] cassand opened #93 "Set heap size as a percentage of the available memory"
It might be more convenient for users to set the heap size as percentage of the container memory.

For example through an environment variable.

[2017-05-09 06:24] gregw commented on #64
The openjdk-runtime could just only define RUNTIME_DIR to a neutral default value if it is not already defined..

The jetty-runtime could then drop in a `/setup-env.d/19-debug-jetty-env.bash` file that sets the RUNTIME_DIR to a jetty specific value and other extended images could do the same.

It perhaps would be better to have a name like DBG_WEBAPP_DIR and have the `20-debug-env.bash` script con

[2017-05-09 13:46] meltsufin commented on #64
The `format-env-appengine-vm.sh` file looks like this now:
[code]

So, I think it's best to just keep `RUNTIME_DIR` undefined in openjdk, and set it where it's needed.

Ultimately, each runtime should just set `APP_WEB_INF_DIR`, and `format-env-appengine-vm.sh` would be changed to not use `RUNTIME_DIR` at all.
@joaoandremartins WDYT?

[2017-05-09 13:53] gregw commented on #64
`APP_WEB_INF_DIR` is a better name than `RUNTIME_DIR`, but it would still be nice to have `CDBG` in the name so other images know why they are setting it.

Note also that in the code above, the `APP_WEB_INF_DIR` is set from `RUNTIME_DIR` before it is checked for non null status.

[2017-05-09 13:58] meltsufin commented on #64
How about this for `format-env-appengine-vm.sh`?
[code]

[2017-05-09 14:00] joaoandremartins commented on #64
@meltsufin that solution works, as long as `${CDBG_APP_WEB_INF_DIR}` isn't set to anything if `${RUNTIME_DIR}` is empty.
I'll try to get started on this today, after releasing the new Jetty image.

[2017-05-09 14:25] #93 closed

[2017-05-09 14:26] meltsufin commented on #64
Actually, I think we still need to support `RUNTIME_DIR` for backwards compatibility:
[code]

[2017-05-09 15:07] gregw commented on #64
@meltsufin LGTM

[2017-05-11 17:34] #14 closed

[2017-05-11 19:36] cassand opened #96 "Test the integration with Google Container Engine"
We should add an integration test for the deployment to Google Container Engine (based on [Integration Frameworks](https://github.com/GoogleCloudPlatform/runtimes-common/tree/master/integration_tests))

[2017-05-12 20:00] meltsufin opened #98 "Cleanup GCP resources after running integration tests"
Currently, we leave the app running after executing the integration tests. It's a problem because we need to then manually shutdown the app/cluster to stop accumulating GCP costs.

@aslo @cassand

[2017-05-12 20:07] cassand commented on #98
Some users might want to conserve some resources , such as the cluster in order to speed up consecutive tests.

A convenient solution might be to prompt the user and add a flag to disable prompt (for CI).

[2017-05-12 20:08] meltsufin commented on #98
Agreed regarding the flag.

[2017-05-16 17:25] cassand opened #99 "Update openjdk version to 131"
The version 121 of openjdk8 have been remove from the debian repository.
The new available version is 131.

https://packages.debian.org/jessie-backports/java/openjdk-8-jdk-headless

[2017-05-16 17:26] meltsufin commented on #99
Can you submit a separate PR for this?

[2017-05-16 18:30] #99 closed

[2017-05-16 18:48] #96 closed

[2017-05-16 21:51] cassand opened #101 "Install kubectl for CI builds"
The integration test on GKE need kubectl to be installed in order to deploy the test application.
The kubectl executable is currently not available during CI build and need to be installed in the cloud-init script.

[2017-05-17 13:04] meltsufin commented on #101
@aslo So the master branch CI build should be failing, but I didn't see any build failure notifications.

[2017-05-17 13:10] aslo commented on #101
There was an email that you should have gotten yesterday. Perhaps we need to do a better job of separating the signal from the noise in those build notification emails.

[2017-05-17 13:12] meltsufin commented on #101
Ah! you're right! I see it now. Never mind.

[2017-05-18 16:13] #101 closed

[2017-05-19 15:30] cassand opened #105 "Integration Tests on GKE fail if the cluster is not initialized"
When the GKE integration script runs, it creates a new cluster, if one is not already present. The creation of a new cluster leads to a delay in the deployment of the application witch may cause some tests to fail.

[2017-05-19 18:18] #105 closed

[2017-05-25 17:57] meltsufin opened #107 "Adding `DBG_ENABLE: true` to app.yaml disables Cloud Debugger"
[code]

[2017-05-25 22:56] starkenburgs commented on #107
Cloud Debugger is also disabled when setting DBG_ENABLE to false.

[2017-06-06 15:34] meltsufin commented on #107
It looks like the root cause is that yaml `true` is a boolean and gets stringified for env to `'True'`, not `'true'`.

[2017-06-06 18:40] #107 closed

[2017-06-15 17:06] meltsufin opened #114 "Shutdown Logging Support"
**TL;DR: On a VM shutdown, allow logging the application’s thread dump and heap info to Cloud Logging.**

On App Engine, sometimes autohealer decides to kill unhealthy VMs. In that case we don't have sufficient logging done from the VM to debug if it was an issue with the app or the VM. This can happen when the app code gets stuck (like deadlock) and stopped returning requests, including health ch

[2017-06-19 20:27] #114 closed

[2017-06-19 21:45] meltsufin opened #116 "Use --batch-mode in cloudbuild.yaml when doing 'mvn clean install'"

[2017-06-19 21:53] meltsufin opened #117 "Local integration test fails on Jenkins"
There's some issue with memory calculation.

[code]

[2017-06-20 16:35] #117 closed

[2017-06-27 17:22] meltsufin commented on #80
Closing because we decided against significantly expanding the image size by adding openjdk-8-dbg package.

[2017-06-27 17:22] #80 closed

[2017-07-24 13:33] meltsufin commented on #70
@aslo Is this still applicable?

[2017-07-24 13:34] #64 closed

[2017-07-24 13:36] #33 closed

[2017-07-24 13:36] #16 closed

[2017-07-24 13:39] meltsufin commented on #6
@aslo Does this still make sense to test?

[2017-07-24 14:21] aslo commented on #70
This should be closed - we've already switched our cloudbuild's maven image to use the dockerhub `maven`, and it works now.

[2017-07-24 14:21] #70 closed

[2017-07-24 22:11] aslo commented on #6
Seeing as how Memcache isn't currently available in the Flex environment, I don't think this really makes sense at the moment. Close this?

[2017-07-25 12:28] meltsufin commented on #6
It will be available at some point. So, let's leave it open.

[2017-07-28 19:35] balopat commented on #55
1. The dependency list is indeed a bit confusing but I interpret it as following:

ca-certifactes-java depends on openjdk-7-jre-headless OR  java7-runtime-headless which is a virtual package provided by openjdk-8-jre-headless

Thus, openjdk-8-jre-headless satisfies the dependencies.

2. based on the latest build (verified locally too), it seems that there are no jre7, java7, jdk7 installations:

[

[2017-07-28 19:47] balopat opened #122 "Let's come up with a better solution to cloud build locally"
See https://github.com/GoogleCloudPlatform/openjdk-runtime/pull/121 for more details where this came up.

In [the "local emulation" of the cloud build](https://github.com/GoogleCloudPlatform/openjdk-runtime/blob/master/scripts/cloudbuild_local.sh) a python script is pulled in from the python runtime - which is not an ideal solution necessarily - especially that the old version (the one I switched

[2017-07-28 20:14] meltsufin commented on #55
Can you add structure test to verify this automatically? See #35 for reference. Thanks!

[2017-08-01 18:10] #55 closed

[2017-08-03 13:08] meltsufin opened #125 "Allow passing app deploy version in App Engine integration test"
See: `gcloud app deploy` line in `ae_integration_test.sh`.
Passing a static app version can enable faster deploy cycle.

[2017-08-03 13:42] balopat opened #126 "Setup local integration test with the runtimes-common integration testing"
Via running the ``gcr.io/gcp-runtimes/integration_test`` image locally (same functionality as in integration_test.yaml), we could actually iterate much faster when implementing changes on the test-app.
Currently the local_integration_test.sh is only testing whether the app starts and verifies the shutdown logs.

[2017-08-03 13:50] meltsufin commented on #126
I believe `gcr.io/gcp-runtimes/integration_test` is not able to verify shutdown logs. So, I assume you're not proposing to replace `local_integration_test.sh`? Maybe we should rename it to `local_shutdown_test.sh` or something.

[2017-08-03 13:54] balopat commented on #126
I am not proposing replacing it, just extending it. I think it's fine to test the shutdown logs as well as the integration tests in the same integration test script. This in effect would be just 1-2 lines of change. I almost have it working.

[2017-08-03 14:19] #76 closed

[2017-08-04 13:51] balopat opened #127 "Fix flaky monitoring integration test"
The monitoring integration test is flaky.
The following are the main reasons:

1. The driver can't find the custom metric

BadRequest: 400 The provided filter doesn't refer to any known metric. (GET https://monitoring.googleapis.com/v3/projects/java-runtime-test/timeSeries/?filter=metric.type+%3D+%22custom.googleapis.com%2FUzLlwfHpNOCsZSuu%22&interval.endTime=2017-08-03T21%3A13%3A00.000000Z&interv

[2017-08-04 13:56] meltsufin commented on #127
@nkubala has anyone successfully implemented this test from your common integration testing framework?

[2017-08-04 17:05] nkubala commented on #127
@meltsufin @balopat I wrote the sample integration test application for Python myself, so you can use that as an example if you run into issues. Here's the monitoring test: https://github.com/GoogleCloudPlatform/python-runtime/blob/master/tests/integration/server.py#L140

[2017-08-04 23:55] balopat commented on #127
thanks @nkubala based on what I see there is no significant difference from my implementation.
The 400 error seems like a timing issue, it takes a long time for Stackdriver to actually expose the new custom metric, and even the 80 seconds are not enough sometimes ([8s x 10 retry](https://github.com/GoogleCloudPlatform/runtimes-common/blob/master/integration_tests/testsuite/test_monitoring.py#L46))

[2017-08-07 17:00] nkubala commented on #127
@balopat creating a new metric descriptor isn't necessary, but thought it would be a valid component of the test. if it's totally blocking your test from passing then we can revisit it, but I'd rather not make that change as other runtimes have been able to write the metrics successfully. could you maybe come up with a lower bound on the wait time for the metric to propagate to Stackdriver, and th

[2017-08-07 20:49] balopat commented on #127
@nkubala I am working on a test suite to narrow down the issues with the StackDriver monitoring when creating a metric - sometimes even the 80 seconds are not enough, when I start reading "too quickly" after the metric was created. This suggests that creating new metrics is a "heavy" operation and can interfere with subsequent reads within a certain "cool down period", while with an already create

[2017-08-07 23:25] nkubala commented on #127
Yeah I think the main issue with the reading of the metric is that the propagation time/time it takes to flush the writes to Stackdriver varies greatly, so I think that sufficiently increasing the timeout there should probably solve that problem.

As for the quota, yeah that's something we'll need to address. We should probably just cleanup the metric descriptors we create in the tests. #302

[2017-08-10 21:02] balopat commented on #127
@nkubala  I created a PR to tackle these: https://github.com/GoogleCloudPlatform/runtimes-common/pull/306

[2017-08-11 20:29] #125 closed

[2017-08-11 20:29] #127 closed

[2017-08-11 21:07] lesv opened #132 "Debian 9 Stretch is out - perhaps we should upgrade ??"
Actually 9.1 was released recently https://www.debian.org/releases/stretch/

[2017-08-14 13:58] aslo commented on #132
The openjdk:9 image will use debian 9 ([see pull request](https://github.com/GoogleCloudPlatform/openjdk-runtime/pull/129)). @meltsufin We should probably update the openjdk:8 to use debian 9 as well - thoughts on when to do this?

[2017-08-14 14:03] meltsufin commented on #132
I'm not sure how major of an upgrade it is from Debian 8 to 9. I would look for guidance from @dlorenc.

[2017-08-21 19:29] aslo opened #135 "Uninstall unnecessary wget dependency"
openjdk:9 installs wget, but it may not actually be necessary.

[2017-08-21 20:18] balopat opened #136 "DRY Dockerfiles via generating them statically from templates"
Let's discuss the approach on [docker-library](https://github.com/docker-library/openjdk/blob/1dce6353dcbb15f09479e7043f48082051967139/9-jdk/Dockerfile#L1-L5). With this, we could avoid[ duplications like this](https://github.com/GoogleCloudPlatform/openjdk-runtime/pull/129#discussion_r134253323) between our dockerfiles.

We could go as easy as providing a separate folder where the generated Docke

[2017-08-21 21:54] balopat opened #137 "Explore extra JVM logging for Java9"
Explore and implement in the openjdk-9 image the useful bits from the new JVM logging features:

https://docs.oracle.com/javase/9/whatsnew/toc.htm#JSNEW-GUID-BA9D8AF6-E706-4327-8909-F6747B8F35C5

GC logging seems interesting for debugging: http://openjdk.java.net/jeps/271

[2017-08-22 14:53] balopat opened #138 "GKE deployment: implement scale down and backup for stabilization"
Rarely, but GKE deployments are not happening when ``kubectl -f apply`` is executed. In this case the current gke_integration test just keeps waiting on the new version to be deployed, while the old version is still running on the cluster.

1.) Before deployment we should scale down the old deployment to 0 instances, then run ``kubectl apply``.
2.) A timeout policy should be implemented, in case t

[2017-08-22 15:10] cassand commented on #138
As GKE can run multiple applications at the same time, it might be preferable to just isolate the different applications (with a unique label), `kubectl` can fetch the state of an application by its label.

To ensure that the new application is created you can use `kubectl run` or `create` instead of `apply`.
You can find an example on the [Jetty Repository](https://github.com/GoogleCloudPlatform/

[2017-08-22 15:36] balopat opened #139 "Implement standard logging integration test for runtimes-common"
https://github.com/GoogleCloudPlatform/runtimes-common/tree/master/integration_tests#standard-logging

[2017-08-22 15:56] balopat commented on #138
There is no clashing of multiple apps yet: there is a label ``app: openjdk-spring-boot-app`` already.
You're right, we could use ``kubectl run`` and ``create``, I guess we didn't use them because they recreate the Service as well, which takes more time - it's better slow then not working :) How much time do the Jetty deploys take?
But your pointing at another important aspect: we should leverage t

[2017-08-24 21:50] meltsufin opened #140 "Use local container builder for running integration tests locally"
https://github.com/GoogleCloudPlatform/container-builder-local

[2017-08-25 15:21] aslo opened #141 "Isolate openjdk:8 and :9 integration builds, so they can run at the same time"
If running two integration test builds concurrently one will fail because they will try to deploy to the same App Engine resources.

[2017-09-01 14:29] aslo commented on #141
Fixed by https://github.com/GoogleCloudPlatform/openjdk-runtime/pull/143

[2017-09-01 14:29] #141 closed

[2017-09-01 15:49] cassand opened #145 "Structure tests fails (maven property missing) with Maven 3.0.5"
During  `mvn clean install` the following error show up
[code]

The generated `target/test-classes/openjdk8-structure.yaml` have the following content:
[code]

I think that the maven properties `openjdk.version.major` and `openjdk.version.minor` are not correctly set or interpreted by maven.

The issue is also present for the `openjdk9` project

[2017-09-01 17:04] aslo commented on #145
I can't seem to reproduce. Let's look into this more.

[2017-09-01 18:09] cassand commented on #145
It seems to be related to the version of Maven.

Maven version 3.0.5 fails whereas the version 3.5.0 succeed to build the project.

[2017-09-01 18:58] meltsufin commented on #145
I think it's worth investigating this issue, since we don't want the build to fail with newer versions of Maven.

[2017-09-01 19:11] aslo commented on #145
Should we start using a maven wrapper?

[2017-09-01 19:25] meltsufin commented on #145
Hmm, that, and/or try to understand what's going on and how to make the build work with both versions.

[2017-09-01 19:30] cassand commented on #145
It seems that the properties in [openjdk8/pom.xml](https://github.com/GoogleCloudPlatform/openjdk-runtime/blob/master/openjdk8/pom.xml) are not loaded by maven.

I would suspect that the Reactor plugin to be involved in the failure (e.g difference in how the modules are loaded).

[2017-09-06 20:45] balopat commented on #140
I would consider this a dupe of #126

[2017-09-06 21:20] balopat opened #147 "structure testing docker volumes are convoluted and potentially problematic"
I think we might need a bit of a redesign here, couldn't solve it quickly, so I'll document the problems I see.

Currently in our build we have the following participants:

- the **docker-enabled host** (in case of GCCB it's a GCE instance, in case of container-builder-local it's my workstation) starts the build steps
- mvn step is the first (and only) step of our build currently, that spins up th

[2017-09-06 21:22] balopat commented on #147
@aslo @nkubala FYI, let me know what you guys think.

[2017-09-06 21:40] nkubala commented on #147
Haha, good timing on this one: I'm in the middle of a major redesign of the structure tests as we speak, which will pull the test execution outside of a container. Check out https://github.com/GoogleCloudPlatform/runtimes-common/pull/332 for progress

[2017-09-07 13:16] balopat commented on #147
awesome @nkubala, let's see how that shakes out, it looks promising!
Also it seems that based on our conversation the container-builder-local might have support in the future to define workspace as a directory vs a the sandbox volume only  - that would help as well in our case (b/65417396)

[2017-09-07 13:50] aslo commented on #147
Great work on this analysis! I @nkubala 's change looks promising.

[2017-09-07 15:16] balopat commented on #145
I ran into this as well, so quickly tested it.
Based on the http://apache.mirrors.lucidnetworks.net/maven/maven-3/ list of latest maven distros:
* 3.0.5: fails
* 3.1.1: fails
* 3.2.5: fails
* 3.3.9: succeeds
I'm working on a fix now with the Maven enforcer plugin in my PR - will close this one with that.

[2017-09-07 15:31] balopat commented on #145
https://github.com/GoogleCloudPlatform/openjdk-runtime/pull/134/commits/5e98cd749851cbae188a5d6e2a1dcd4cb9a09bdf - this enforces maven 3.3.x

[2017-09-07 15:41] balopat opened #148 "Reduce duplication across test scripts and reuse code across java runtimes tests"
* There is quite a bit of duplicated code in the test scripts (https://github.com/GoogleCloudPlatform/openjdk-runtime/blob/master/scripts/).
* There is a deviation from the structure in tomcat-runtime and the jetty-runtime

It seems it would be beneficial to design an overarching testing strategy for our runtimes, instead of duplicating the efforts across them, most probably relying on the runtime

[2017-09-07 22:28] #126 closed

[2017-09-07 22:28] #140 closed

[2017-09-07 22:28] #145 closed

[2017-09-08 15:13] balopat opened #150 "replace uuidgen with more standard tools for deployment token"
``uuidgen`` is not available on some of the CI servers, it's easier to replace it with a ``date`` based string - it currently breaks the build.

[2017-09-11 22:10] #150 closed

[2017-09-22 14:04] aslo opened #155 "Do not build a "builder" image during every image build."
Instead, we should build and release this image separately so that it's not on the critical path when we want to release the openjdk image.

[2017-09-26 15:16] meltsufin opened #156 "Local simulation of cloud build fails"
Command:
`./scripts/build.sh -p $PROJECT_ID -m $MODULE_TO_BUILD --local`

Error:
`Error parsing config file: open /cfg/structure.yaml: no such file or directory`

Potentially related to #147

[2017-10-06 15:25] aslo opened #158 "Install OpenJDK 9 from the stretch-backports repository"
The openjdk-9-jdk debian package has been added to the "stretch-backports" repository. We should update our Openjdk9 runtime's Dockerfile to use that repository instead of the "testing" repository to install it.

https://packages.debian.org/stretch-backports/openjdk-9-jdk

[2017-10-20 21:38] jabubake opened #161 "Remove `DBG_ENABLE` from README.md"
Looks like this is no longer used to enable / disable the debug agent ?

@saturnism FYI

[2017-10-20 21:42] meltsufin commented on #161
Why do you say that? It's used, and it's on by default of App Engine.

[2017-10-20 21:45] jabubake commented on #161
User error, looks like docs just need to be updated on default : https://cloud.google.com/debugger/docs/setup/app-engine-java

[2017-10-20 21:45] #161 closed

[2017-10-22 19:50] lesv opened #162 "Cloud Debugger doesn't work w/ OpenJDK 9"
Using the SparkJava sample in java-docs-samples /flexible/sparkjava I try and debug UserService.java getAllUsers  L55

I can set a watchpoint in OpenJDK8, but not in OpenJDK9

(Note - I got rid of the Dockerfile, updated app.yaml and changed the pom.xml to compile w/ 1.9 as well.

[2017-10-25 15:23] #158 closed

[2017-10-25 19:56] meltsufin opened #164 "Update structure tests to use "Metadata Test" features"
For example, the env var checks can be migrated to it.
See: https://github.com/GoogleCloudPlatform/container-structure-test#metadata-test

[2017-10-27 16:51] meltsufin opened #166 "Refactor structure tests to use intermediate container for test scripts"
See discussion here: https://github.com/GoogleCloudPlatform/container-structure-test/issues/9

[2017-11-27 03:01] nickhristov commented on #41
I want to do a follow up here. Here is a google groups thread that describes the issue. https://groups.google.com/forum/#!topic/vertx/7xTo_a_lOWk

[2017-11-27 03:04] nickhristov commented on #41
In addition, an upgrade of netty to 4.1.5.Final is required and `-Djava.net.preferIPv4Stack=true` must be set to true. Netty fix is here: https://github.com/netty/netty/issues/5657

[2017-12-19 17:58] meltsufin commented on #162
v2.17 of Cloud Debugger has been released, which should have support for Java 9. @ChengyuanZhao PTAL.

[2017-12-19 18:09] ChengyuanZhao commented on #162
I will make a PR, but apparently this seems to be an issue with the base openjdk 9 image we use.

Adding `RUN dpkg --purge --force-depends ca-certificates-java` before the `RUN apt-get -q update \
 && apt-get -y -q --no-install-recommends install \
    # install the jdk and its dependencies
    ca-certificates-java \` in our openjdk9 dockerfile resolves the issue I believe.

@lesv could you give t

[2017-12-19 18:12] meltsufin commented on #162
Is this branch https://github.com/GoogleCloudPlatform/openjdk-runtime/tree/jdk9-ca-certs ?

[2017-12-19 18:16] ChengyuanZhao commented on #162
Wow you're quick, yea that's the one. Here's a PR of the change

https://github.com/GoogleCloudPlatform/openjdk-runtime/pull/168/files

[2017-12-19 20:13] ChengyuanZhao commented on #162
Perhaps the stackdriver team worked around that issue I mentioned in the PR they originally encountered with the ca-certs, because I tried it with a test spark app and cloud debugger debug points worked and stopped properly for me.  I'll try to reproduce using Les's example.

[2017-12-19 21:01] ChengyuanZhao commented on #162
Stop points do work in /flexible/sparkjava for me if I use a custom dockerfile, but I also see that if I use runtime: java and openjdk9 in app.yaml then it's not available for cloud debugging. I'll try to find out why.

[2017-12-19 21:33] ChengyuanZhao commented on #162
Oh I forgot to mention, we only enable the cloud debugger agent if our jetty or tomcat runtime images are used. If you're instead deploying a JAR to appengine like with `mvn appengine:deploy`, then cloud debugger won't be enabled. The jar must be run with `-agentpath:/opt/cdbg/cdbg_java_agent.so` to enable cloud debugger.

@meltsufin @lesv

[2017-12-19 21:37] meltsufin commented on #162
I don't think that's true. Whether the agent is added is controlled in the [entrypoint](https://github.com/GoogleCloudPlatform/openjdk-runtime/blob/master/openjdk-common/src/main/docker/setup-env.d/20-debug-env.bash) via `DBG_ENABLE`, which is true by default on GAE.

[2017-12-19 21:39] ChengyuanZhao commented on #162
Ah shoot my bad! you're right

[2017-12-19 21:54] ChengyuanZhao commented on #162
I think the reason is the gcloud command is using an outdated version of our runtimes-builder, which is using the 2e8cd4717ce4 version of our openjdk:9 image from October 18, which is before many of the stackdriver fixes for java 9. I'll re-release an updated version and then will give it a try.

[2017-12-20 19:00] ChengyuanZhao commented on #162
The runtimes-builder image used for appengine deployments has been updated and now sparkjava example works in cloud debugger.

[2017-12-20 19:00] #162 closed

[2018-01-26 22:03] pettyjamesm commented on #37
Pretty much everything in the stackdriver JVM plugin should be sent. What's the lift on making that happen? From the stackdriver docs, they make it sound like you just have to drop in the collectd plugin and wire up the JMX port.

[2018-01-29 16:39] meltsufin commented on #37
Do you have a link to the documentation you're referring to? Which Stackdriver JVM plugin?

[2018-01-29 16:45] pettyjamesm commented on #37
https://cloud.google.com/monitoring/agent/plugins/jvm

[2018-01-29 17:17] meltsufin commented on #37
Thanks! Have you tried enabling it using a custom `Dockerfile` based on this runtime and `JAVA_USER_OPTS`?

[2018-01-29 17:41] pettyjamesm commented on #37
I played around with trying to get it to work, but couldn't- to the best of my knowledge it's not possible without special support from the AppEngine flexible environment setup on the physical instances. I want to underscore that this is "to the best of my knowledge", but here's what seems to be the case:

1. The stackdriver monitoring agent (collectd, specifically) runs outside of the docker cont

[2018-01-29 19:19] meltsufin commented on #37
Thanks for a detailed analysis. I think you're right on all the points. It basically comes down to the fact that the JVM Monitoring plugin is not supported on App Engine flexible VMs. So, it really is out of scope for this project because it's isolated to the `gaeapp` container in the VM.

[2018-01-29 21:57] pettyjamesm commented on #37
Is there somewhere I can go other than GCP Support to track down getting stackdriver support? There seems to be a big documentation gap between stackdriver and app engine flexible. Is there a component somewhere responsible for bridging the App Engine Flexible compute instance to container that this kind of feature makes sense? For example, how are custom logs from the container picked up by the s

[2018-01-29 22:08] meltsufin commented on #37
I would recommend GCP Support as the best path to get visibility for your request.

[2018-02-14 23:39] pettyjamesm opened #171 "OpenJDK 10 Runtime"
With OpenJDK 10 set to be released on March 30th (and OpenJDK 9 set to be end of life at the same time) it would be nice to see a beta runtime image  using the current release candidate. I'm concerned that by using the current Java 9 image we're going to be left without a supported upgrade path after that date. This is especially worrying since the Java 9 release hasn't been updated to 9.0.4 yet a

[2018-03-20 16:25] pettyjamesm commented on #171
Any update on this? Oracle has now released JDK 10 and JDK 9 is now end of life.

[2018-03-23 20:19] derek-gfs opened #173 "Run OpenJDK Build through Java JCK/TCK"
To ensure that this release of Java is compatible, run the Java JCK/TCK against this OpenJDK build before release.

If this is already being done, call this out in the README.

[2018-03-26 13:20] derek-gfs opened #174 "OpenJDK Version Behind for Java 8"
It appears that the latest container is running OpenJDK 8 update 131, which had security updates released on 4/18/2017.

Since then, 3 security updates have been released.  All of these are available in Debian.

| Version | Security Patch Release Date |
| u161/162 | 1/16/2018 |
| u151/152 | 10/17/2017 |
| u141/144 | 7/18/2017 |
| u131 | 4/18/2017 |

[2018-05-02 14:02] meltsufin opened #177 "Cannot invoke wget due to libgnutls missing"
Repro:
[code]

[2018-05-11 21:09] #166 closed

[2018-05-11 21:09] #177 closed

[2018-05-22 21:19] balamuru opened #178 "Request for supporting Java 10 RunTime"
When will Java 10 be supported in GCP? Java 10 has some neat enhancements intended to facilitate execution in containerized environments  (CPU awareness, heap %  selection) . http://www.oracle.com/technetwork/java/javase/10-relnote-issues-4108729.html

Thanks

[2018-07-26 21:52] wyaeld commented on #178
@meltsufin any chance of a response on this?  We are looking to use 10 for development since the container integration makes things easier, but currently look to use Google maintained base images.

[2018-07-27 19:56] meltsufin commented on #178
I'm not aware of any plans to build a Java 10 runtime.
Maybe Java 11 as it's an LTS release, but that's not my call.
I would suggest getting in touch with Cloud Support to communicate such feature requests.

[2018-09-12 15:50] sirinath opened #181 "OpenJ9 Runtimes"
Can you add OpenJ9 runtimes?

[2018-09-12 15:51] sirinath opened #182 "Graal Runtimes"
Can you add Graal based runtimes?

[2019-03-26 09:32] nealeu commented on #178
I think it's important to allow people to move forwards on JDK 11 and now 12.
In addition to the key container features from JDK10 (https://www.oracle.com/technetwork/java/javase/10-relnote-issues-4108729.html#JDK-8146115), there are now other opportunities to take advantage of in JDK12 for containers, most notably [Promptly Return Unused Committed Memory](https://openjdk.java.net/jeps/346).

Ther

[2019-03-26 14:18] meltsufin commented on #178
@dlorenc WDYT?

[2019-04-03 03:25] gregw commented on #178
As openjdk9 has now gone from stretch-backports, we can no longer build jdk9, so I think it will have to be 11 for now... with 12 soon.
Stand by for a PR....

[2019-04-03 22:49] #178 closed

[2019-04-04 08:03] nealeu commented on #178
Thanks @gregw

[2019-04-17 06:31] duxbuse opened #194 "TYPO in the readme"
In the read me `gcr.io/google-appenine/openjdk:8` should be `gcr.io/google-appengine/openjdk:8`

[2019-05-11 17:28] Red-Five opened #197 "Differences Between Google openjdk Images?"
What are the main differences between

gcr.io/distroless/java:11 and  gcr.io/google-appengine/openjdk:11 ?

How should I chose between them for running java micro services on k8s?

Possibly add a note on the README.md page(s) to clarify?

Ref. https://github.com/GoogleContainerTools/distroless
Ref. https://github.com/GoogleCloudPlatform/openjdk-runtime

[2019-06-10 17:38] bboughton opened #198 "Profiler Agent But"
The version of the java profiler agent pre-installed in the image has a bug in it that prevents profiler data from being published to a project other then the project that the agent is hosted in. The latest version of the profiler has fixed this bug. Unfortunately the version of this dependency is not pinned so I can't tell you which version it is using and which version fixes the issue.

MD5 chec

[2019-08-21 19:47] montss commented on #198
Well I think it is not preinstalled, if you look at `openjdk8/src/main/docker/Dockerfile` you can see that it is being pulled using `ADD https://storage.googleapis.com/cloud-profiler/java/latest/profiler_java_agent.tar.gz /opt/cprof/`

But I do also think that there is something wrong going on, when I used one of the below two options -can't remember exactly now-
[code]

The profiler didn't recogn

[2019-09-26 09:19] bjornharvold opened #200 "openjdk11 not working"
Hi,

I saw that the openjdk-runtime supports either openjdk8 or openjdk11. I tried setting openjdk11 in my app.yaml. When I deployed I received this error:

`The provided runtime_config.jdk option 'openjdk11' is invalid for JAR deployments. Please use a supported jdk option; ['openjdk8', 'openjdk9'].`

Does this mean I can only use Java 11 when deploying a WAR container?

Thank you
Bjorn

[2019-10-13 16:05] #197 closed

[2020-08-12 15:47] lesv commented on #132
If this hasn't been done by now, it never will be.

[2020-08-12 15:47] #132 closed

[2021-02-01 23:26] psahgal opened #202 "Provided sample Dockerfile does not work with App Engine - flexible environment"
I spent some time today trying to get up and running with the flexible environment on App Engine and I noticed the custom runtime did not work as expected. I was trying to get Java 11 running in the Flexible environment. When I used this as my Dockerfile:
[code]
I ended up getting an error message from `gcloud app deploy`, stating that the application container had crashed. After some trial and er